# Dependencias
node_modules/

# Variables de entorno secretas (¡NUNCA SUBIR A GITHUB!)
.env
.env.local
.env.production

# Base de datos local
data/
*.sqlite
*.sqlite-journal
*.db

# Logs
logs/
*.log
npm-debug.log*

# SO
.DS_Store
Thumbs.db
